#root {
  text-align: center;
}

.nav-darkmode-container {
  display: grid;
  flex-direction: column;
}

.darkmode-container {
  grid-column: 1;
  grid-row: 2;
}

.navbar {
  grid-column: 1;
  grid-row: 1;
}

.darkmode {
  float: right;
  padding-right: 1.5vw;
}

.light {
  height: 100vh;
  width: 100vw;
  background: #fafafa;
  background-image: url('/background.png');
  background-repeat: repeat;

}

.dark {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: #f0f0f0;
}

.dark img {
  -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
  filter: invert(1);
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: #ebebeb;
  animation: shooting-star 4s linear infinite;
}

@keyframes shooting-star {
  0% {
      transform: translate(-50%, -50%) rotate(-45deg) scale(0);
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      transform: translate(-50%, -50%) rotate(135deg) scale(1);
      opacity: 0;
  }
}
